.home {
  overflow-y: scroll;
  height: calc(100vh - 100px);
}

.home .container {
  justify-content: center;
}

.home ul {
  flex-direction: column;
}

.home ul li {
  margin: 14px 0;
  padding: 1px;
}

.home ul li:hover {
  border: 1px solid #dcdcdc;
  padding: 0;
}

.home a {
  text-decoration: none;
  color: #000;
}

.home img {
  width: 220px;
  margin-bottom: 12px;
}